.container {
  /* height: 100vh;
  width: 100vw; */
  /* background-image: url(/src/assets/homeBackground.png); */
  /* background-image: url('/assets/homeBackground.png'); */
  background-repeat: no-repeat;
  background-size: 100%; 
  min-height: calc(100vh - 40px);
  display: flex;
  flex-flow: column;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  /* color: aliceblue; */
}


.header-text {
  line-height: 6rem;
  font-size: 6rem;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .header-text {
      font-size: 2.5rem;
  }
}